<!DOCTYPE html>
<html>
    <head>
        <title>Listings</title>
        <%- include('../header'); -%>
    </head>
    <body>
        <%- include('../navbar'); %>
        <div class="container">
            <br />
            <h4>Seller Details</h4>
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Name: <%= seller.first_name %> <%= seller.last_name %></p>
                    <p class="card-text">Phone: <%= seller.phone_number %></p>
                    <p class="card-text">Email: <%= seller.email %></p>
                </div>
            </div>
            <hr>
            <h4>Listings</h4>
            <div class="row">
                <% if(listings && listings.length > 0){ %>
                    <% listings.forEach((listing) => { %>
                        <div class="col col-sm-3">
                            <div class="card mb-2">
                                <% if(listing.image_file_path){ %>
                                    <img class="img-fluid" src="<%= listing.image_file_path %>" alt="loading..." />
                                <% }else{ %>
                                    <img class="img-thumbnail" src="/static/images/no_image.png" alt="no image" />
                                <% } %>
                                <div class="card-body">
                                    <h5 class="card-title"><%= listing.title %></h5>
                                    <p>$ <%= listing.price_in_cents/100 %>.<%= (listing.price_in_cents%100).toString().padStart(2, '0') %></p>
                                    <a class="btn btn-block btn-info" href="/listings/<%= listing.id %>/">View</a>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                <% }else{ %>
                    <div class="col text-center">No Listings Found</div>
                <% } %>
            </div>
        </div>
    </body>
</html>