<!DOCTYPE html>
<html>
<head>
    <title>Listing: <%= listing.title %></title>
    <%- include('../header'); -%>
</head>
<body>
<%- include('../navbar'); %>
<div class="container">
    <div class="row">
        <div class="col col-md-10 offset-md-1 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card">
                <div class="card-body">
                    <% if(listing.image_file_path){ %>
                        <img class="img-fluid" src="<%= listing.image_file_path %>" alt="loading..." />
                    <% }else{ %>
                        <img class="img-fluid" src="/static/images/no_image.png" alt="no image" />
                    <% } %>
                    <hr />
                    <h5>
                        <span class="align-middle"><%= listing.title %></span>
                        <% if(listing.condition === 'new'){ %>
                            <span class="badge badge-success">NEW!</span>
                        <% } else if(listing.condition === 'used'){ %>
                            <span class="badge badge-secondary">used</span>
                        <% } %>
                    </h5>
                    <p><%= listing.description %></p>
                    <p>$ <%= listing.price_in_cents/100 %>.<%= (listing.price_in_cents%100).toString().padStart(2, '0') %></p>
                    <% if(listing.bookmark_id){ %>
                        <button class="btn btn-block btn-secondary mb-2" disabled >Already Bookmarked!</button>
                    <% }else{ %>
                        <form method="post" action="/listings/<%= listing.id %>/bookmark" class="mb-2">
                            <button type="submit" class="btn btn-block btn-info">Bookmark</button>
                        </form>
                    <% } %>
                    <form method="post" action="/listings/<%= listing.id %>/buy">
                        <button type="submit" class="btn btn-block btn-primary">Buy</button>
                    </form>
                    <div class="row">
                        <div class="col"><hr></div>
                        <div class="col-auto">OR</div>
                        <div class="col"><hr></div>
                    </div>
                    <form method="post" action="/listings/<%= listing.id %>/chat">
                        <button type="submit" class="btn btn-block btn-light">Chat with seller</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>