<!DOCTYPE html>
<html>
<head>
    <title>Listing: <%= listing.title %></title>
    <%- include('../header'); -%>
</head>
<body>
<%- include('../navbar'); %>
<div class="container">
    <div class="row">
        <div class="col col-2">
            <img class="img-fluid" src="https://placekitten.com/g/250/250" alt="kitty" />
            <a class="btn btn-block btn-primary mt-1" href="/listings/<%= listing.id %>/buy/">Buy</a>
        </div>
        <div class="col col-10">
            <h5><%= listing.title %></h5>
            <p>Sold by: <%= listing.lister_id %></p>
            <p><%= listing.condition %></p>
            <p>$ <%= listing.price_in_cents/100 %>.<%= (listing.price_in_cents%100).toString().padStart(2, '0') %></p>
            <p><%= listing.description %></p>
        </div>
    </div>
</div>
</body>
</html>