<!DOCTYPE html>
<html>
    <head>
        <title>Listings</title>
        <%- include('../header'); -%>
    </head>
    <body>
        <div>Listings:</div>
        <div class="container">
            <div class="row">
                <% listings.forEach((listing) => { %>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <img src="https://placekitten.com/g/200/200" alt="kitty" />
                                    <p>ID: <%= listing.id %></p>
                                    <p>Title: <%= listing.title %></p>
                                    <p>Description: <%= listing.description %></p>
                                    <p>Seller: <%= listing.lister_id %></p>
                                </div>
                            </div>
                        </div>
                <% }) %>
            </div>
        </div>
    </body>
</html>