<!DOCTYPE html>
<html>
<head>
    <title>Admin - Analytics</title>
    <%- include('../header'); -%>
</head>
<body>
<div class="row">
    <div class="col col-2">
        <%- include('../admin_nav'); %>
    </div>
    <div class="col">
        <div class="container">
            <br />
            <h4> Total Number of Purchases: <%= total_purchases%></h4>
            <br />
            <h4> Highest Listing amount: $<%= max_price/100 %>.<%= (max_price%100).toString().padStart(2, '0') %> </h4>
            <hr />
            <br />
            <h5> Each Buyer’s Total Spending Amount in descending order</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Buyer ID</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% spending.forEach((spend) => { %>
                        <tr>
                            <td><%= spend.buyer_id %></td>
                            <td><%= spend.price_sum %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>