<!DOCTYPE html>
<html>
<head>
    <title>Admin - Analytics</title>
    <%- include('../header'); -%>
</head>
<body>
<div class="row">
    <div class="col col-2">
        <%- include('../admin_nav'); %>
    </div>
    <div class="col">
        <div class="container">
            <h4> Total Number of Purchases: <%= total_purchases%></h4>
            <br />
            <h4> Highest Listing amount: <%= max_price %> </h4>
            <br />
            <h4> Each Buyer’s Total Spending Amount in descending order</h4>
            <tbody>
                <% spending.forEach((spend) => { %>
                    <tr>
                        <td><a href="/listings/<%= spend.buyer_id %>"></a></td>
                        <td><%= spend.price_sum %></td>
                    </tr>
                <% }) %>
            </tbody>
        </div>
    </div>
</div>
</body>
</html>