<!DOCTYPE html>
<html>
<head>
    <title>My Listings</title>
    <%- include('../header'); -%>
</head>
<body>
<%- include('../navbar'); %>
<div class="container">
    <div class="row">
        <div class="col mr-auto">
            <h4>My Listings</h4>
        </div>
        <div class="col text-right">
            <a href="/listings/create/">
                <button class="btn btn-primary btn-sm">Create Listing</button>
            </a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <% if(listings && listings.length > 0){ %>
            <% listings.forEach((listing) => { %>
                <div class="col col-sm-3">
                    <div class="card">
                        <% if(listing.image_file_path){ %>
                            <img class="img-fluid" src="<%= listing.image_file_path %>" alt="loading..." />
                        <% }else{ %>
                            <img class="img-thumbnail" src="/static/images/no_image.png" alt="no image" />
                        <% } %>
                        <div class="card-body">
                            <h5 class="card-title"><%= listing.title %></h5>
                            <p>$ <%= listing.price_in_cents/100 %>.<%= (listing.price_in_cents%100).toString().padStart(2, '0') %></p>
                            <a class="btn btn-block btn-success" href="/listings/<%= listing.id %>/">Edit</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% }else{ %>
            <div class="col text-center">No Listings Found</div>
        <% } %>
    </div>
</div>
</body>
</html>