<!DOCTYPE html>
<html>
<head>
    <title>My Listings</title>
    <%- include('../header'); -%>
</head>
<body>
<div class="container">
    <div>My Listings:</div>
    <div class="row">
        <% listings.forEach((listing) => { %>
            <div class="col col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <img class="img-thumbnail" src="https://placekitten.com/g/200/200" alt="kitty" />
                        <p>ID: <%= listing.id %></p>
                        <p>Title: <%= listing.title %></p>
                        <p>Description: <%= listing.description %></p>
                        <p>Seller: <%= listing.lister_id %></p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
</body>
</html>