<!DOCTYPE html>
<html>
<head>
    <title>Purchase: <%= purchase.transaction_id %></title>
    <%- include('../header'); -%>
</head>
<body>
<%- include('../navbar'); %>
<div class="container">
    <div class="row">
        <div class="col col-md-10 offset-md-1 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <% if(message){ %>
                <div class="alert alert-success" role="alert">
                    <%= message %>
                </div>
            <% } %>
            <div class="card mb-2">
                <div class="card-body">
                    <% if(purchase.image_file_path){ %>
                        <img class="img-fluid" src="<%= purchase.image_file_path %>" alt="loading..." />
                    <% }else{ %>
                        <img class="img-thumbnail" src="/static/images/no_image.png" alt="no image" />
                    <% } %>
                    <hr />
                    <h5 class="card-title"><%= purchase.title %></h5>
                    <h6 class="card-subtitle text-muted font-italic"><%= purchase.purchased_at.toLocaleString('en', { day: "numeric", month: "long", year: "numeric", hour: "numeric", minute: "2-digit", second: "2-digit", timeZone: "Asia/Singapore"  }) %></h6>
                    <br />
                    <p>$ <%= purchase.price_in_cents/100 %>.<%= (purchase.price_in_cents%100).toString().padStart(2, '0') %></p>
                </div>
            </div>
            <a class="btn btn-primary btn-block" href="/my/purchases">Back to Purchase History</a>
        </div>
    </div>
</div>
</body>
</html>